<form name="form_user" class="form form_user" id="form_user">
    <div class="form__field fillable-field" id="name">
        <div class="form__input-area form__input-area_fillable">
            <label for="name" class="form__label form__label_fillable">Name</label>
            <input type="text" class="form__input form__input_fillable" id="input_name" name="name" autocomplete="off">
        </div>
    </div>
    <div class="form__field fillable-field" id="email">
        <div class="form__input-area form__input-area_fillable">
            <label for="email" class="form__label form__label_fillable">E-mail</label>
            <input type="text" class="form__input form__input_fillable" id="input_email" name="email" autocomplete="off">
        </div>
    </div>
    <div class="form__buttons">
        <button type="submit" class="form__button form__button_confirm confirm-popup" id="confirm-button">OK</button>
        <button type="button" class="form__button form__button_cancel close-popup" id="cancel-button">Cancel</button>
    </div>
</form>