<form name="form_form-name" class="form form_form-name" id="form_name">
    <div class="form__field fillable-field" id="text_name">
        <div class="form__input-area form__input-area_fillable">
            <label for="text-name" class="form__label form__label_fillable">Text field</label>
            <input type="text" class="form__input form__input_fillable" name="text_name"  autocomplete="off">
        </div>
    </div>
    <div class="form__field fillable-field" id="number_name">
        <div class="form__input-area form__input-area_fillable">
            <label for="number-name" class="form__label form__label_fillable">Number field</label>
            <input type="number" class="form__input form__input_fillable input-number" name="number_name"  autocomplete="off">
        </div>
    </div>
    <div class="form__field fillable-field" id="password">
        <div class="form__input-area form__input-area_fillable">
            <label for="password" class="form__label form__label_fillable">Password field</label>
            <input type="password" class="form__input form__input_fillable" name="password" autocomplete="off">
            <i class="form__input-icon form__input-icon_eye fa-solid fa-eye-slash"></i>
        </div>
    </div>
    <div class="form__field file-field" id="file_name">
        <div class="form__input-area form__input-area_file">
            <label for="file-name" class="form__label form__label_file">File field</label>
            <input type="file" class="form__input form__input_file" name="filename">
        </div>
    </div>
    <div class="form__field checkable-field" id="checkbox_name">
        <div class="form__input-area form__input-area_checkable">
            <input type="checkbox" class="form__input form__input_checkable" name="checkbox_name">
            <label for="checkbox_name" class="form__label form__label_checkable">Checkbox field</label>
        </div>
    </div>
    <div class="form__field checkable-field" id="radio_name">
        <legend class="form__field-title">Radio field</legend>
        <div class="form__input-area form__input-area_checkable">
            <input type="radio" class="form__input form__input_checkable" id="radio_name 1" name="radio_name" value="input 1">
            <label for="radio_name 1" class="form__label form__label_checkable">Option 1</label>
        </div>
        <div class="form__input-area form__input-area_checkable">
            <input type="radio" class="form__input form__input_checkable" id="radio_name 2" name="radio_name" value="input 2">
            <label for="radio_name 2" class="form__label form__label_checkable">Option 2</label>
        </div>
    </div>
    <button type="submit" class="form__button form__button_form-name" name="button_form-name">Submit</button>
</form>